<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BlueBox</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bold">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Assets/box.png" alt="Site Logo" style="height:90%; width: 40px" />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Games", "Index", "Game")</li>
                    <li>@Html.ActionLink("Movies", "Index", "Movie")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ratings<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Games", "GameRatingIndex", "Rating")</li>
                            <li>@Html.ActionLink("Movies", "MovieRatingIndex", "Rating")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                            <li>@Html.ActionLink("Rentals", "Index", "Rental")</li>
                            <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>




    <div class="container body-content" style="width:80%">
        @RenderBody()
        <hr />
        <footer style="color:#fff; width:initial">
            <p>&copy; @DateTime.Now.Year - BlueBox Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
