@model RentAMovie.Models.CustomerModels.CustomerDetail

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    h1 {
        color: #fff;
        font-weight: bold;
    }

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #fff;
    }

    table {
        text-decoration: none;
    }
</style>

<h1>Details</h1>

<div>
    <h5>Details of the customer</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

<br />

<p class="btn btn-default">
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
