@model IEnumerable<RentAMovie.Models.MovieModels.MovieListItem>

@{
    ViewBag.Title = "Index";
}
<br />

<style type="text/css">
    h1 {
        color: #fff;
        font-weight: bold;
    }

body { background-image: url('../../Content/Assets/blueback.jpg'); background-size: cover; background-repeat: no-repeat; position: relative; }

    table {
        text-decoration: none;
    }
</style>

<h1>Movie List</h1>

<p class="btn btn-default">
    @Html.ActionLink("Add Movie", "Create")
</p>

<br />
<br />
<br />

<table class="table table-hover table-bordered" style="background-color: #fff">
    <tr style="background-color: lightgrey">
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalCount)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCount)
            </td>
            <td>
                @Html.ActionLink("Rate", "Rate", new { id = item.MovieId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
            </td>
        </tr>
    }

</table>
