@model IEnumerable<RentAMovie.Models.RatingModels.Game.GameRatingListItem>

@{
    ViewBag.Title = "GameRatingIndex";
}

<h2>List of Game Ratings</h2>

<p class="btn btn-default">
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Back", "Index")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "GameRatingEdit", new { id = item.RatingId }) |
                @Html.ActionLink("Details", "GameRatingDetails", new { id = item.RatingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RatingId })
            </td>
        </tr>
    }

</table>
