@model RentAMovie.Models.RatingModels.Game.GameRatingDetail

@{
    ViewBag.Title = "GameRatingDetails";
}

<style type="text/css">
    h2 {
        color: #fff;
    }

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #fff;
    }

    table {
        text-decoration: none;
    }
</style>

<h1>Details</h1>

<div>
    <h5>Details of the game rating</h5>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.GameTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<br />

<p class="btn btn-default">
    @Html.ActionLink("Edit", "GameRatingEdit", new { id = Model.RatingId }) |
    @Html.ActionLink("Back to List", "GameRatingIndex")
</p>
