@model IEnumerable<RentAMovie.Models.RatingModels.Movie.MovieRatingListItem>

@{
    ViewBag.Title = "MovieRatingIndex";
}

<br />

<style type="text/css">
    h2 {
        color: #fff;
    }

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    table {
        text-decoration: none;
    }
</style>

<h2>List of Movie Ratings</h2>

<p class="btn btn-default">
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Back", "Index")
</p>

<br />
<br />
<br />

<table class="table table-hover table-bordered" style="background-color: #fff">
    <tr style="background-color: lightgrey">
        <th>
            @Html.DisplayNameFor(model => model.RatingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "MovieRatingEdit", new { id = item.RatingId }) |
                @Html.ActionLink("Details", "MovieRatingDetails", new { id = item.RatingId }) |
                @Html.ActionLink("Delete", "MovieRatingDelete", new { id = item.RatingId })
            </td>
        </tr>
    }

</table>
