@model RentAMovie.Models.GameModels.GameDetail

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    h2 {
        color: #fff;
    }

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #fff;
    }

    table {
        text-decoration: none;
    }
</style>

<h1>Details</h1>

<div>
    <h5>Details of the game</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Console)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Console)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Online)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Online)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>

<br />

<p class="btn btn-default">
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
