@model IEnumerable<RentAMovie.Models.GameModels.GameListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Game List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Console)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Console)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCount)
            </td>
            <td>
                @Html.ActionLink("Rate", "Rate", new { id = item.GameId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
            </td>
        </tr>
    }

</table>
