@model IEnumerable<RentAMovie.Models.GameModels.GameListItem>

@{
    ViewBag.Title = "Index";
}

<br />

<style type="text/css">
    h2 {
        color: #fff;
    }

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    table {
        text-decoration: none;
    }
</style>

<h2>Game List</h2>

<p class="btn btn-default">
    @Html.ActionLink("Add Game", "Create")
</p>

<br />
<br />
<br />

<table class="table table-hover table-bordered" style="background-color: #fff">
    <tr style="background-color: lightgrey">
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Console)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalCount)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Console)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCount)
            </td>
            <td style="text-decoration: none;">
                @Html.ActionLink("Rate", "Rate", new { id = item.GameId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
            </td>
        </tr>
    }
</table>
