@model RentAMovie.WebMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style type="text/css">

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        position: relative;
        color: #fff;
    }

    #paragraph {
        margin: 5% 26% 5% 26%;
        text-align:center;
    }

    form {
        background-color: grey;
        padding: 10px 5px;
        border-radius: 10px 10px;
        border-style: solid;
    }
</style>
<br />

<h1 style="text-align:center">REGISTER</h1>

<div id="paragraph" >
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h5>Already have an account?</h5>
        <div class="btn btn-default">
            @Html.ActionLink("Log In", "Login")
        </div>

        <hr />
        <br />

        <h3>New User</h3>

        <br/>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
        <br />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
